footer {
  clear:both;
  background: $darkergray;
  color: $lightgray;
  padding: 2rem 1rem;
  font-size: 0.75rem;

  @include breakpoint($b-sml) {
    padding: 2rem 3rem;
  }


  p {
    line-height: 1.5;
    margin: 0;
  }
}
